/* import font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

/* Primary colors*/
$soft-blue:hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);


/* neutral colors */
$main-bg:hsl(217, 54%, 11%);
$card-bg:hsl(216, 50%, 16%);
$line:hsl(215, 32%, 27%);

/* Font */
$font: 'Outfit', sans-serif;

/* Font size */
$font-size: 1.1rem;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $main-bg;
}

.card{
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 75vh;
    background-color: $card-bg;
    border-radius: 15px;
    
    
    .container{
        position: relative;
        width: 80%;
        padding-bottom: 1.3em;

        .image{
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay{
            position: absolute;
            top: 0;    
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $cyan;
            width: 100%;
            height: 93%;
            transition: 0.3 ease;
            opacity: 0;
            text-align: center;

            #icon{
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }
            &:hover.overlay{
                opacity: 0.5;
            }
        }

        


    }

    // img{
    //     // padding-top: 1em;
    //     // margin-top: em;
    //     padding-bottom: 1.3em;
    //     width: 80%;
    // }

    h1{
        font-family: $font;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        margin-left: -3em;
        padding-bottom: 0.8em;

        &:hover{
            color: $cyan;
        }
    }

    p{
        font-family: $font;
        font-size: $font-size;
        font-weight: 300;
        color: $soft-blue;
        margin-left: 2em;
        padding-bottom: 1em;
    }

    .details{
        display: inline-flex;
        // margin-left: em;
        // border: 2px solid blue;
        justify-content: space-around;
        gap: 50px;
        width: 83%;
        .price{
            display: inline-flex;
            width: 40%;
            // border: 2px solid purple;
            // gap: 9px;
            #eth{
                margin-top: 0.2em;
            }

            h2{
                padding-left: 5px;
                font-family: $font;
                font-weight: 400;
                color: $cyan;
                font-size: $font-size;
                width: 100%;
            }
        }

        .days{
            display: inline-flex;
            gap: 2px;
            width: 36%;
            // border: 2px solid yellow;
            text-align: right;
            #clock{
                margin-top: 0.2em;
                // align-items: flex-end;
            }

            #numdays{
                width: 100%;
                margin-left: 0;
                padding-left: 5px;
                padding-bottom: 0;
            }
           
        }
    }

    .line{
        padding-top: 1em;
        padding-bottom: 1em;
        width: 80%;

        hr.divide{
           border-top: 2px solid $line;          
        }
    }

    .info{
        padding-top: 0.2em;
        display: inline-flex;
        align-items: flex-start;
        width: 80%;
        gap: 10px;

        img#avatar{
            padding: 0;
            max-width: 10%;
            margin-top: 0em;
            // width: 10px;
            // height: 10px;
            // margin-left: 1.8em;
        }

        .create{
            margin-left: 0;
            margin-top: 0.2em;
            padding: 0;
            .name{
                color: #fff;
            
                &:hover{
                    color: $cyan;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .card{
        height:85vh
    }
}
